{% extends "layout.html" %}


{% block content %}

    <main>
        <div class="wrapper">
            <div class="image-wrapper">
                <img src="https://image.flaticon.com/icons/png/512/817/817747.png" alt="Dino cooking">
            </div>
            <div class="content-wrapper">
                <h1>Learn new things</h1>
                <h2>and have fun!</h2>
                <div class="text">
                    <p class="title">Let's cook a delicious snack!</p>
                    <p>All you will need for this recipe is in the list bellow:</p>
                    <ul>
                        <li>1 cup of milk</li>
                        <li>2 spoons of chocolate powder</li>
                        <li>4 spoons of maize starch</li>
                        <li>2 spoons of sugar</li>
                    </ul>
                    <p>Mix all ingredients together and, will the help of an adult, put it into the microwave for 3 minutes. After that serve it in beautiful mugs and enjoy your hot chocolate.</p>
                </div>
            </div>

        </div>
    </main>
{% endblock %}  