<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning for Kids</title>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/817/817776.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Itim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="links">
            <a id="phone" href="tel:+5581999266788"></a>               
            <a id="mail" href="mailto:zmarina.mm@gmail.com"></a>
            <a id="videos" href="videos.html"></a>
            <a id="about" href="about.html"></a>
         
        </div>
    </header>
    <main>
        <div class="wrapper">
            <div class="image-wrapper">
                <img src="https://image.flaticon.com/icons/png/512/817/817747.png" alt="Dino cooking">
            </div>
            <div class="content-wrapper">
                <h1>Learn new things</h1>
                <h2>and have fun!</h2>
                <div class="text">
                    <p class="title">Let's cook a delicious snack!</p>
                    <p>All you will need for this recipe is in the list bellow:</p>
                    <ul>
                        <li>1 cup of milk</li>
                        <li>2 spoons of chocolate powder</li>
                        <li>4 spoons of maize starch</li>
                        <li>2 spoons of sugar</li>
                    </ul>
                    <p>Mix all ingredients together and, will the help of an adult, put it into the microwave for 3 minutes. After that serve it in beautiful mugs and enjoy your hot chocolate.</p>
                </div>
            </div>

        </div>
    </main>
    
</body>
</html>