{% extends "layout.html" %}

{% block head %}

<title>Videos for kids</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}


{% block content %}
<main>
    <div class="container">
        <h1>Videos</h1>
    </div>
    <div class="cards">
        <div class="card" id="ZBFgI4Qv9Qo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/ZBFgI4Qv9Qo/maxresdefault.jpg" alt="video for kids">
            </div>
            <div class="card__content">
                <p>Down in the jungle! Dave and Ava</p>
            </div>
            <div class="card__info">
                <p>30 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="9Ey7RT9S_xE">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/9Ey7RT9S_xE/maxresdefault.jpg" alt="video for kids">
            </div>
            <div class="card__content">
                <p>Ten little dinos! Cocomelon</p>
            </div>
            <div class="card__info">
                <p>35 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="zk5HGN8JXXk">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/zk5HGN8JXXk/maxresdefault.jpg" alt="video for kids">
            </div>
            <div class="card__content">
                <p>Here comes the Firetruck! Super Simple Songs</p>
            </div>
            <div class="card__info">
                <p>31 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="TqfMHH67KJA"> 
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/TqfMHH67KJA/maxresdefault.jpg" alt="video for kids">
            </div>
            <div class="card__content">
                <p>Sweet dreams! Super Simple Songs</p>
            </div>
            <div class="card__info">
                <p>50 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="cSvqcJsURyo">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/cSvqcJsURyo/maxresdefault.jpg" alt="video for kids">
            </div>
            <div class="card__content">
                <p>Yes yes Stay at home song! Baby Bus</p>
            </div>
            <div class="card__info">
                <p>19 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
        <div class="card" id="w7TjPUzZF3I">
            <div class="card__image-container">
                <img src="https://img.youtube.com/vi/w7TjPUzZF3I/maxresdefault.jpg" alt="video for kids">
            </div>
            <div class="card__content">
                <p>Booba Video game! Booba</p>
            </div>
            <div class="card__info">
                <p>17 min</p>
                <p class="card__price">Free</p>
            </div>
        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</main>
<script src="scripts.js"></script>
{% endblock %}

