*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: pink;            
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgba(255, 182, 193,1.0);
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.links a{
    text-decoration: none;
    color: rgb(226, 21, 90);
    font-size: 18px;
    font-weight: bold;
    margin: 0 16px;
}

.links a:hover{
    color: rgb(100, 12, 49);
}

main #wrapper{
    text-align: center;
    color: rgb(226, 21, 90);
}

main #wrapper img{
    border-radius: 50%;
    border: 6px solid rgb(255, 0, 106);
    height: 250px;
    margin-bottom: 20px;
}

main #wrapper h1{
    font-size: 30px;
    
}

main #wrapper h2{
    font-size: 18px;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 10px;
}

main #wrapper p{
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
}

main #wrapper ul{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: white;  
    margin-top: 30px;
    padding: 6px;
}

footer .links a{
    font-size: 13px;
   
}