*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: rgb(250, 240, 241);            
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(252, 208, 215);
    padding: 15px;
    text-align: center;
    margin-bottom: 30px;
}

.links a{
    text-decoration: none;
    color: rgb(226, 21, 90);
    font-size: 18px;
    font-weight: bold;
    margin: 0 16px;
}

.links a:hover{
    color: salmon;
}

main #wrapper{
    text-align: center;
    color: rgb(226, 21, 90);
}

main #wrapper img{
    border-radius: 50%;
    border: 6px solid rgb(236, 181, 175);
    height: 250px;
    margin-bottom: 20px;
}

main #wrapper h1{
    font-size: 30px;
    
}

main #wrapper h2{
    font-size: 18px;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 10px;
}

main #wrapper p{
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
}

main #wrapper ul{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: white;  
    margin-top: 30px;
    padding: 6px;
}

footer .links a{
    font-size: 13px;
   
}

/*=== CARDS ===*/

.cards {
    max-width: 800px;
    margin: 0 auto;
    color: rgb(226, 21, 90);
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

.card {
    background-color: rgb(252, 208, 215);
}

.card__image-container img{
    height: 180px;
    width: 100%;
    filter: opacity(60%);
}

.card__content, 
.card__info{
    padding: 20px;
}

.card__info{
    display: grid;
    grid-template-columns: 1fr 1fr;     
}

.card__price{
    background-color: rgb(252, 208, 215);
    filter: brightness(95%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/*=== MODAL ===*/

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: pink;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;   
}

/*=== MODAL.ACTIVE ===*/

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}